doctype html
html
  head 
    style
      include style.css
  body
    div
      block content
    div.footer
      | Best regards 
      br
      | nodeLearn lesson7 
      br
      a(href="http://google.com") Visit our web site